<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect non-www to www
  RewriteCond %{HTTP_HOST} ^aslaneminovi\.com\.tr [NC]
  RewriteRule ^(.*)$ http://www.aslaneminovi.com.tr/$1 [L,R=301]

  # Serve static files from _next directory
  RewriteCond %{REQUEST_URI} ^/_next/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>
